In [5]:
#import libraries
import pandas as pd

In [7]:
#import manual tags indonesia dataset
df = pd.read_table('Indonesian_Manually_Tagged_Corpus.tsv', header=None, names=['words','tags'])
df

                 words tags
0                 Kera   NN
1                untuk   SC
2              amankan   VB
3       pesta olahraga   NN
4           Pemerintah  NNP
...                ...  ...
255932               ,    Z
255933            ujar   VB
255934            -nya  PRP
255935     menambahkan   VB
255936               .    Z

[255937 rows x 2 columns]

In [3]:
#counting tags in dataset
counted = df['tags'].value_counts()

In [4]:
len(counted)

24

In [8]:
from nltk import hmm

In [9]:
#create list of tuple
def list_of_sentences(low, sep): #low(list of words) #sep(separator)
    sentence = []
    sentences = []
    for word in low:
        sentence.append(word)
        if word == sep:
            sentences.append(sentence)
            sentence = []
    return sentences

In [10]:
list_of_words = df.to_records(index=False).tolist()
sep = ('.', 'Z')

In [11]:
train_data = list_of_sentences(list_of_words, sep)
training = hmm.HiddenMarkovModelTrainer()
tagger = training.train_supervised(train_data)

In [12]:
print(tagger.tag('Budi sedang membaca koran di kamar.'.split()))

[('Budi', 'NNP'), ('sedang', 'MD'), ('membaca', 'VB'), ('koran', 'NN'), ('di', 'IN'), ('kamar.', 'NN')]